Repository JaysonJAcosta5704/Konnect: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, auto-deploy, android-build, android-test

maven-build:
  stage: mavenbuild
  tags:
  - Daniel_Tag
  script:
  - cd Backend
  - mvn package

maven-test:
  stage: maventest
  tags:
  - Daniel_Tag
  script:
  - cd Backend
  - mvn test

auto-deploy:
  stage: mavendeploy
  tags:
  - NishiKant_tag
  script:
  - cd Backend/backend_code
  - sudo mv target/*.jar /target/web-demo.jar
  - sudo systemctl stop system-web-demo
  - sudo systemctl start system-web-demo

android-build:
  image: afirefly/android-ci:java17
  stage: androidbuild
  tags:
  - hb1_daniel runner
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/Konnect/gradlew
  script:
  - cd Frontend/Konnect
  - ./gradlew build

android-test:
  image: afirefly/android-ci:java17
  stage: androidtest
  tags:
  - NishiKant_tag
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/Konnect/gradlew
  script:
  - cd Frontend/Konnect
  - ./gradlew test

Created MinigamesFragment
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/MinigamesFragment.java
Due: android-build, android-test

Deleted SettingsActivity
  Frontend/Konnect/app/src/main/AndroidManifest.xml
  Frontend/Konnect/app/src/main/java/com/example/konnect/SettingsActivity.java
Due: android-build, android-test

Renamed MinigamesActivity to UnquoteActivity
  Frontend/Konnect/app/src/main/java/com/example/konnect/minigames/UnquoteActivity.java
Due: android-build, android-test

admin websocket notifications when new report is made
  Backend/backend_code/src/main/java/onetomany/Users/UserController.java
  Backend/backend_code/src/main/java/onetomany/WebSocketAdminNot/adminChat.java
Due: maven-build, maven-test, auto-deploy

Admin activity status
  Backend/backend_code/src/main/java/onetomany/AdminActivityReport/adminActivityReport.java
Due: maven-build, maven-test, auto-deploy

Webchat notifies all users of a new report and send specific message to assigned admin
  Backend/backend_code/src/main/java/onetomany/AdminActivityReport/adminActivityReport.java
  Backend/backend_code/src/main/java/onetomany/AdminActivityReport/adminActivityReportRepository.java
  Backend/backend_code/src/main/java/onetomany/Reports/ReportsRepository.java
  Backend/backend_code/src/main/java/onetomany/Users/UserController.java
  Backend/backend_code/src/main/java/onetomany/WebSocketAdminNot/adminChat.java
  Backend/backend_code/src/main/java/onetomany/adminUser/adminUserRepository.java
Due: maven-build, maven-test, auto-deploy

adding testing
  Backend/backend_code/pom.xml
  Backend/backend_code/src/main/java/onetomany/Users/UserRepository.java
  Backend/backend_code/src/main/java/test/application-logging-test.properties
  Backend/backend_code/src/main/java/test/java/myapp/UserTest.java
  Backend/backend_code/src/main/java/test/resources/logback-test.xml
Due: maven-build, maven-test, auto-deploy

Fix Daniels merge again
  .gitlab-ci.yml
Due: none

fix signup
  Frontend/Konnect/app/src/main/java/com/example/konnect/entry/SignupActivity.java
Due: android-build, android-test

implement the basic flashcard
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/FlashcardFragment.java
  Frontend/Konnect/app/src/main/res/layout/dashboard_fragment_flashcard.xml
Due: android-build, android-test

test for signup
  Frontend/Konnect/app/src/androidTest/java/com/example/konnect/ChanhoYangTest.java
Due: android-build, android-test

adding test cases
  Backend/backend_code/pom.xml
  Backend/backend_code/src/test/java/onetomany/nishi_systemtest.java
Due: maven-build, maven-test, auto-deploy

added profile image feature
  Backend/backend_code/src/main/java/onetomany/Users/User.java
  Backend/backend_code/src/main/java/onetomany/Users/UserController.java
  Backend/backend_code/src/test/java/onetomany/nishi_systemtest.java
  Backend/backend_code/target/classes/application.properties
Due: maven-build, maven-test, auto-deploy

fix error
  Frontend/Konnect/app/build.gradle
  Frontend/Konnect/app/src/androidTest/java/com/example/konnect/ChanhoYangTest.java
Due: android-build, android-test

fix errors
  Frontend/Konnect/app/build.gradle
  Frontend/Konnect/app/src/androidTest/java/com/example/konnect/ChanhoYangTest.java
Due: android-build, android-test

test
  Backend/backend_code/src/main/java/onetomany/Users/User.java
  Backend/backend_code/src/main/java/onetomany/hobbies/Hobbies.java
  Backend/backend_code/src/main/java/test/java/myapp/UserTest.java
  Documents/css/coverage.css
  Documents/css/idea.min.css
  Documents/img/arrowDown.gif
  Documents/img/arrowUp.gif
  Documents/index.html
  Documents/index_SORT_BY_BLOCK.html
  Documents/index_SORT_BY_BLOCK_DESC.html
  Documents/index_SORT_BY_CLASS.html
  Documents/index_SORT_BY_CLASS_DESC.html
  Documents/index_SORT_BY_LINE.html
  Documents/index_SORT_BY_LINE_DESC.html
  Documents/index_SORT_BY_METHOD.html
  Documents/index_SORT_BY_METHOD_DESC.html
  Documents/index_SORT_BY_NAME_DESC.html
  Documents/js/highlight.min.js
  Documents/js/highlightjs-line-numbers.min.js
  Documents/ns-1/index.html
  Documents/ns-1/index_SORT_BY_BLOCK.html
  Documents/ns-1/index_SORT_BY_BLOCK_DESC.html
  Documents/ns-1/index_SORT_BY_CLASS.html
  Documents/ns-1/index_SORT_BY_CLASS_DESC.html
  Documents/ns-1/index_SORT_BY_LINE.html
  Documents/ns-1/index_SORT_BY_LINE_DESC.html
  Documents/ns-1/index_SORT_BY_METHOD.html
  Documents/ns-1/index_SORT_BY_METHOD_DESC.html
  Documents/ns-1/index_SORT_BY_NAME_DESC.html
  Documents/ns-1/sources/source-1.html
Due: maven-build, maven-test, auto-deploy

implement test case for minigame behavior when the game ends
  Frontend/Konnect/app/src/androidTest/java/com/example/konnect/ChanhoYangTest.java
Due: android-build, android-test

implement the testing case to check whether the game restarts after the user click the restart button
  Frontend/Konnect/app/src/androidTest/java/com/example/konnect/ChanhoYangTest.java
Due: android-build, android-test

fix signup
  Frontend/Konnect/app/src/androidTest/java/com/example/konnect/ChanhoYangTest.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/entry/SignupActivity.java
  Frontend/Konnect/app/src/main/res/layout/entry_activity_signup.xml
Due: android-build, android-test

add AdminUser in settnig and Implement AdminUser activity
  Frontend/Konnect/app/src/main/java/com/example/konnect/AdminUserActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/SettingsActivity.java
  Frontend/Konnect/app/src/main/res/layout/activity_settings.xml
Due: android-build, android-test

implement adminuser login and signup activities
  Frontend/Konnect/app/src/main/AndroidManifest.xml
  Frontend/Konnect/app/src/main/java/com/example/konnect/AdminLoginActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/AdminSignupActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/AdminUserActivity.java
  Frontend/Konnect/app/src/main/res/layout/activity_adminuser.xml
Due: android-build, android-test

implement signup feature for the admin user
  Frontend/Konnect/app/src/main/java/com/example/konnect/AdminSignupActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/entry/SignupActivity.java
  Frontend/Konnect/app/src/main/res/layout/activity_adminsignup.xml
Due: android-build, android-test

fixing the get users code
  Backend/backend_code/src/main/java/onetomany/Users/User.java
  Backend/backend_code/src/main/java/onetomany/Users/UserController.java
Due: maven-build, maven-test, auto-deploy

fixing the get users code
  Backend/backend_code/src/main/java/onetomany/Users/User.java
Due: maven-build, maven-test, auto-deploy

implement find users
  Frontend/Konnect/app/src/main/AndroidManifest.xml
  Frontend/Konnect/app/src/main/java/com/example/konnect/AdminFindActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/AdminFindAllActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/AdminSignupActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/AdminUserActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/AdminfindbyidActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/entry/SignupActivity.java
  Frontend/Konnect/app/src/main/res/layout/activity_adfindusers.xml
  Frontend/Konnect/app/src/main/res/layout/entry_activity_signup.xml
Due: android-build, android-test

fix error
  Frontend/Konnect/app/src/main/java/com/example/konnect/AdminFindActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/AdminSignupActivity.java
  Frontend/Konnect/app/src/main/res/layout/activity_adfindusers.xml
Due: android-build, android-test

Feature to add friends
  Frontend/Konnect/app/src/androidTest/java/com/example/konnect/JaysonAcostaTest.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/FriendsFragment.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/MinigamesFragment.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/SettingsFragment.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/helper/RequestJson.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/helper/ServerURLs.java
  Frontend/Konnect/app/src/main/res/layout/activity_settings.xml
  Frontend/Konnect/app/src/main/res/layout/dashboard_fragment_friends.xml
  Frontend/Konnect/app/src/main/res/layout/dashboard_fragment_settings.xml
Due: android-build, android-test

websocket for dm
  Backend/backend_code/src/main/java/onetomany/WebSocketDirectMessage/DirectMessageApplication.java
  Backend/backend_code/src/main/java/onetomany/WebSocketDirectMessage/DirectMessageController.java
  Backend/backend_code/src/main/java/onetomany/WebSocketDirectMessage/DirectMessageHandler.java
  Backend/backend_code/src/main/java/onetomany/WebSocketDirectMessage/WebSocketConfig.java
Due: maven-build, maven-test, auto-deploy

TicTacToe game complete
  Frontend/Konnect/app/src/main/AndroidManifest.xml
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/DashboardActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/MinigamesFragment.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/helper/RequestJson.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/helper/ServerURLs.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/minigames/GomokuActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/minigames/TicTacToeActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/minigames/UnquoteActivity.java
  Frontend/Konnect/app/src/main/res/drawable/black_border.xml
  Frontend/Konnect/app/src/main/res/drawable/ic_oicon.png
  Frontend/Konnect/app/src/main/res/drawable/ic_xicon.png
  Frontend/Konnect/app/src/main/res/drawable/oimage.png
  Frontend/Konnect/app/src/main/res/drawable/white_box.xml
  Frontend/Konnect/app/src/main/res/drawable/ximage.png
  Frontend/Konnect/app/src/main/res/layout/minigame_gomoku_activity.xml
  Frontend/Konnect/app/src/main/res/layout/minigame_ttt_activity.xml
  Frontend/Konnect/app/src/main/res/layout/minigame_unquote_activity.xml
  Frontend/Konnect/app/src/main/res/layout/minigames_fragment.xml
  Frontend/Konnect/app/src/main/res/layout/minigames_leaderboards_activity.xml
Due: android-build, android-test

added scoreboard for tic tac toe
  Backend/backend_code/src/main/java/onetomany/tictactoe/GameResult.java
  Backend/backend_code/src/main/java/onetomany/tictactoe/GameResultRepository.java
  Backend/backend_code/src/main/java/onetomany/tictactoe/TicTacToeController.java
  Backend/backend_code/src/main/java/onetomany/tictactoe/TicTacToeService.java
Due: maven-build, maven-test, auto-deploy

Pending friends requests
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/FriendsFragment.java
Due: android-build, android-test

Logout
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/SettingsFragment.java
  Frontend/Konnect/app/src/main/res/layout/dashboard_fragment_settings.xml
Due: android-build, android-test

Leaderboard
  Frontend/Konnect/app/src/main/java/com/example/konnect/helper/RequestJson.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/minigames/TicTacToeActivity.java
Due: android-build, android-test

Fixed join date and bio
  Frontend/Konnect/app/src/main/java/com/example/konnect/dashboard/ProfileFragment.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/helper/RequestJson.java
Due: android-build, android-test

implement findalluser
  Frontend/Konnect/app/src/main/java/com/example/konnect/AdminFindAllActivity.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/UserAdapter.java
  Frontend/Konnect/app/src/main/java/com/example/konnect/helper/OtherUser.java
  Frontend/Konnect/app/src/main/res/layout/activity_admin_find_all.xml
  Frontend/Konnect/app/src/main/res/layout/user_item.xml
Due: android-build, android-test

Path conditions:
  maven-build: (any of: Backend/**/*) or (any of: Backend/backend_code/**/*)
  maven-test: (any of: Backend/**/*) or (any of: Backend/backend_code/**/*)
  auto-deploy: any of: Backend/backend_code/**/*
  android-build: any of: Frontend/Konnect/**/*
  android-test: any of: Frontend/Konnect/**/*
